.pgTitle {
  min-width: 280px;
  max-width: 320px;
  font-family: Impact, 'Anton', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 16px;
  border: 1mm solid violet;
}

.pgTitle span {
  color: #4d5ae5;
}

@media (min-width: 768px) {
  .pgTitle {
    max-width: 728px;
    font-size: 108px;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 1280px) {
  .pgTitle {
    max-width: 1216px;
  }
}
