.barContainer {
  min-width: 320px;
  max-width: 360px;
  padding: 20px 20px;
  margin: 0 auto;
  border: 1mm solid blue;
}

@media (min-width: 768px) {
  .barContainer {
    max-width: 768px;
    padding: 0px 32px;
  }
}
@media (min-width: 1280px) {
  .barContainer {
    max-width: 1280px;
  }
}


.navigation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: baseline;
  /* border: 1mm solid blue; */
}
.navigationBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
}

.userMenu p,
.userMenu a {
  margin: 0;
  padding: 0;
}

.link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #2e2f42;
  text-align: center;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.active {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.logo span {
  color: #2e2f42;
}

@media (min-width: 768px) {
  .navigation {
    min-width: 768px;
    max-width: 768px;
    width: 100%;
    padding: 20px 40px;
  }

  .navigationBar {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .navigation {
    min-width: 1280px;
    max-width: 1280px;
    flex-direction: row;
    justify-content: space-between;
  }
}
